// **************************************
// Mixins
// **************************************




// **************************************
// Img mixins
// **************************************

@mixin img-center(){
    display: block;
    margin-left: auto;
    margin-right: auto;
    // padding-top: 1.5em;
}

// **************************************
// Button mixins
// **************************************

@mixin btn-style(){
    display: block;
    width: 100%;
    padding: .8em;
    margin-bottom: 1.5em;
    border-radius: .3em;
    border: none;
    background: $tertiary-color;
    text-transform: uppercase;
    color: white;
}


// **************************************
// Flexbox and Media queries mixins
// **************************************
@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@mixin flex-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
}

@mixin media-queries($break) {
    $value: map-get($breakpoints, $break);
    $small: map-get($breakpoints,'s');

    @if $value < $small {
        @media(max-width: $value){
            @content;
        }
    }
    @else {
        @media(min-width:$value){
            @content;
        }
    }
}

// @mixin mq($break) {            
//     @if $break == 's' {
//       @media (max-width: $break-s) {
//         @content;       
//       }          
//  }   
//     @else {
//         @content;
//     }
// }