// **************************************
// Fonts
// **************************************

@import url('https://fonts.googleapis.com/css?family=Lato:700|Roboto&display=swap');

$primary-font: 'Roboto',sans-serif;
$secondary-font: 'Lato', sans-serif;


// **************************************
// Breakpoints
// **************************************

// $break-s: 576px;
// $break-m: 768px;
// $break-l: 992px;

// //map for breakpoints
$breakpoints: (
    's': 576px,
    'm': 768px,
    'l': 992px,
);


// **************************************
// Colors
// **************************************
$primary-color: rgb(163, 162, 162);
$secondary-color: rgba(45, 201, 180, 0.7);
$tertiary-color: rgba(32, 209, 194, 0.8);

//Button colors map
$button-colors: (
default: rgba(82, 211, 243, 0.863),
success:rgba(60, 202, 60, .8),
error:rgba(219, 117, 106),
warning:rgb(253, 114, 0),
info:rgba(124, 79, 156, 0.87)
);

//List for grid colors
$grid-colors : (
red, //not included 
blue, //not included
rgba(182, 134, 194, 0.6),
rgba(1, 215, 230, 0.6),
rgba(60, 211, 60, 0.6),
rgb(57, 170, 185),
rgba(228, 127, 116, 0.6),
rgba(235, 120, 26, 0.6),
$secondary-color,
pink, //not included
teal, //not included
rgba(35, 223, 207, 0.8),
);