// **************************************
// Fonts
// **************************************

@import url('https://fonts.googleapis.com/css?family=Lato:700|Roboto&display=swap');

$primary-font: 'Roboto',sans-serif;
$secondary-font: 'Lato', sans-serif;


// **************************************
// Breakpoints
// **************************************

$break-s: 576px;
$break-m: 768px;
$break-l: 992px;

// //map for breakpoints
// $breakpoints: (
//     's': 576px,
//     'm': 768px,
//     'l': 992px,
// );


// **************************************
// Colors
// **************************************
$primary-color: rgb(163, 162, 162);
$secondary-color: rgba(45, 201, 180, 0.7);
$tertiary-color: rgba(32, 209, 194, 0.8);

//Button colors
$default: rgba(1, 215, 230, 0.7);
$success:rgba(60, 202, 60, .7);
$error:rgba(219, 117, 106, .7);
$warning:rgba(233, 105, 1, 0.7);
$info:rgba(159, 95, 175, 0.7);


//Grid system colors
$col-6: rgba(26, 140, 175, 0.7);
$col-4: lighten($tertiary-color, 10%);
$col-3: rgba(208, 155, 219, 0.7);
$col-5: rgba(60, 211, 60, .65);
$col-7: lighten($error, 5%);
$col-8: rgba(253, 111, 16, 0.6);

//

//map for grid colors
// $grid-colors: (
// 'col--12': $secondary-color,
// 'col--6': darken($tertiary-color, 10%),
// 'col--4': lighten($tertiary-color, 10%),
// 'col--3': rgba(162, 97, 179, 0.8),
// 'col--5': rgba(69, 238, 69, 0.8),
// 'col--7': rgba(252, 140, 128, 0.8),
// 'col--8': rgba(253, 129, 28, 0.8),
// );