// **************************************
// Button Styles
// **************************************

// btn style mixin
.theme__colors{
    @include btn-style();
}

//Color buttons with sass map
.btn {
    @each $key, $color in $button-colors {
        //combined selector, string interpolation
        &--#{$key} {
            //background color from map's value
            background-color: $color;   
            @media(min-width:769px){
                margin: 0 1em 0 0;
            }
        }
    }

    

}

//change button section to row
@media(min-width:769px){
    .grid__col--12{
    display:flex; 
    padding: 1em 1em 2em 1em;
    }

    // .btn--default,
    // .btn--success,
    // .btn--error,
    // .btn--warning,
    // .btn--info {
    // width: 80%;
    // margin: 0 1em;
    // }

}

//Color grid system with @each loop and sass list 
.theme__colors.grid__col {
    // @include grid-style();
	@each $color in $grid-colors{
        $i: index($grid-colors, $color);
        
            &--#{$i} {
            // add our background color here:
            background-color:$color;
            
            //change from btn styles here:
            margin-bottom: -.3em;
            text-transform: none;
            color: rgba(97, 96, 96, 0.85)
        } 
    }
}

