// **************************************
// Form Styles
// **************************************

.form__label--hidden{
    display: none;
}
.form__input{
    display: block;
    margin: 2em 0 0;
    padding-bottom: 1em;
//     border-bottom: .38em solid $secondary-color';
}
