// **************************************
// Image Styles
// **************************************




//centers page img's
.img--logo,
.img--avatar,
.img--frame{
    @include img-center();
}

.img--frame{
    border: 1px solid $primary-color;
    padding: 1em 1em;
    width: 100%;
}