.nav {
    list-style: none;
    padding: unset;
  }


.nav__item {
    text-align: center;
    a:hover{
      background-color: $secondary-color;
      color: #fff;
      border-radius: .3em;
    }
  }

.nav a{
    text-decoration: none;
    display: block;
    padding: .8em;
    color: $primary-color;
  }