// **************************************
// Nav Styles
// **************************************

.nav {
    list-style: none;
    padding: unset;
    @include media-queries('m') {
    @include flex-row;
      justify-content: center
    }
  }


.nav__item {
    a:hover{
      background-color: $secondary-color;
      color: #fff;
      border-radius: .3em;
    }
  }

.nav a{
  text-align: center;
  display: block;
  padding: 1.1em;
  color: $primary-color;
  font-size: 110%;
  text-decoration: none;
}