// **************************************
// Selectors *, ul, p, 
// **************************************

*{
  box-sizing: border-box;
  font-family: $primary-font;
}

ul{
  list-style: none;
}

p{
  line-height: 1.75em;
  color:$primary-color;
}

.container{
  width: 100%;
  padding: .5em 2em 2em 3em;
}

.link{
  text-decoration: none;
  color: $tertiary-color;
  &:hover{
    color: $secondary-color;
  }
}

