// **************************************
// Selectors *, ul, p, 
// **************************************

*{
  box-sizing: border-box;
}

ul{
  list-style: none;
}

p{
  line-height: 1.5em;
  color: gray;
}

.container{
  width: 100%;
  padding: 1em 1em;
}