// **************************************
// Selectors *, ul, p, 
// **************************************

*{
  box-sizing: border-box;
  font-family: $primary-font;
}

ul{
  list-style: none;
}

p{
  line-height: 1.75em;
  color:$primary-color;
}

.container{
  width: 100%;
  padding: .5em 2em 2em;
    @media(min-width:$break-m){
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 0;
}
}

.link{
  text-decoration: none;
  color: $tertiary-color;
  &:hover{
    color: $secondary-color;
  }
}

